@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Open+Sans&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

body {
  background-color: #181a1b;
  color: white;
  font-family: "Heebo", sans-serif;
}

.container {
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.container h1 {
  text-align: center;
}

.accordion {
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 20px 0;

  &_header {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_text {
    font-weight: 400;
    line-height: 1.5;
    color: rgb(115, 115, 115);
  }
}

.buttonPlus {
  display: block;
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.minus_hidden {
  display: none;
}
